html {font-size: 14px; font-family: 'Open Sans'; }
body{margin: 0; padding: 0;height: 100vh;background-color: #F5F0EE}
p, li {font-size: 1.1em;}
.title {font-family: 'Roboto Slab';}
h1 {margin: 0 0 1em 0; text-align:center;}
.container {width: 98%; padding: 1em;}
.accueil .card-container {width: 25%; background-color: white; padding: 0.5em 1em 0.5em 1em; display: flex;flex-direction: column;cursor: pointer;transition: all 0.3s ease;margin: 1em; }
.accueil .card-container:hover {-webkit-box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -12px rgba(0,0,0,0.75);transform: translateY(-10px); }
.accueil .cards-container {display: flex; justify-content: center;flex-wrap: wrap;}
h3 {margin-bottom: 0; font-size: 19px;}
.accueil .card-container .description {color: #424242;}
.accueil .card-container .type {color: #757575;}
.details .description-container {width: 50%;padding: 1em 1em 1em 2em;}
.details .code-container {width: 50%; display: flex;flex-direction: column; align-items: center;}
.details .close-icon {position: fixed; left: 0; right: 0; margin: auto; bottom: 2em; width: 30px;cursor: pointer;transition: all ease 0.3s;}
.details .close-icon:hover {transform: translateY(-10px);}
.details #content-container {display: flex; flex-direction: row;}
.details .code-container img {width: 66%;}

